@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Onest:wght@100..900&display=swap');
@import "tailwindcss";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url('/cursor.png'), auto;
    color: #fff;
    min-height: 100vh;
    font-family: "Onest", sans-serif;
    overflow-x: hidden; /* Evitar scroll horizontal */
    background: linear-gradient(45deg,#000000,#300e74);
    background-size: 300% 300%;
    animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
